 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
    background-color: gray;
    color: #444;
    cursor: pointer;
    width: 60px;
    height: 80vh;
    border: none;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible-active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .collapsible-content {
    background-color: gray;
    height: 0;
    width: 0vw;
    min-width: 0;
    overflow: hidden;
    transition: width 0.2s ease-out;
    /*transition: height 0.2s ease-out;*/
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .collapsible-img {
    height: 50px;
    width: 50px;
  }

  .collapsible-chat {
    display: flex;
  }