/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #007bff;
    color: #444;
    cursor: pointer;
    width: 60px;
    height: calc(100vh - 80px);
    border: none;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible-active,
.collapsible:hover {
    background-color: #266ab3;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    background-color: #36393F; /* Darker background for Discord-like appearance */
    height: calc(100vh - 80px);
    width: 0vw;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden;
    word-wrap: break-word;
    transition: width 0.2s ease-out;
}

.collapsible:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible-img {
    height: 50px;
    width: 50px;
}

.collapsible-chat {
    display: flex;
    justify-content: flex-start; /* Aligns children to the start of the container */
    position: fixed; /* Fixes the position of the container */
    left: 0; /* Positions it to the left edge */
    top: 80px;
}

/* General container for messages */
.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #36393F; /* Dark background */
    border-radius: 5px;
    max-width: 100%;
    margin-left: auto; /* Align messages to the right */
    background: linear-gradient(to bottom, #36393F 0%, #2F3136 100%); /* Gradient for softer look */
    word-wrap: break-word;
}


.senderName_msg, .content_msg {
    color: #DCDDDE; /* Light text color */
}

/* Sender's name */
.senderName_msg {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    
}

/* Date of the message */
.date_msg {
    font-size: 12px;
    margin-right: 10px;
    color: #bbbfc488;
}

/* Profile picture */
.pfp_msg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Message content */
.content_msg {
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.5;
    overflow-wrap: break-word;
    min-width: 0;
}

#chat-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #40444B; /* Darker input background */
    color: #DCDDDE; /* Light text color */
}

#chat-input:focus {
    background-color: #40444B; /* Maintain darker background on focus */
}

#chat-send-button {
    background-color: #7289DA; /* Discord blue */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#chat-send-button:hover {
    background-color: #5865F2; /* Darker blue on hover */
}

.msg-inputs {
    display: none;
    width: 100%;
    padding: 10px;
}

.msg-inputs .msg-input {
    width: 80%;
    color: #DCDDDE; /* Light text color */
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.msg-inputs .send-btn {
    background-color: #7289DA; /* Discord blue */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.msg-inputs .send-btn:hover {
    background-color: #5865F2; /* Darker blue on hover */
}

.hide_chat_img {
    width: 25px;
    height: 25px;
}

.hide_chat_button {
    background-color: #36393F;
    border: none;
    cursor: pointer;
}

 .header_chat {
    height: 30px;
    font-size: 14px;
    color: #bbbfc488;
    border: none;
    outline: none;
    display: none;
 }

 #output {
    display: none;
 }

 .nickname_button_div {
    display: block;
 }

.conn_img {
    width: 20px;
    height: 20px;
}

.pfp_chat_img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.nickname_button {
    display: flex;
    font-size: 17px;
}