body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #007bff;
    padding: 20px 0;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.or {
    margin: 0 20px;
}

.form-section input {
    left: 5%;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.form-section select,
.form-section button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.form-section button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #0056b3;
}

.form-section select {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
